%ul{:class => bs.breadcrumb}
  = partial ('shared/breadcrumb')
  %li
    %a.wait-trigger{:href => space_path(@space)}= space_human_name(@space)
    = partial 'shared/apps_counter'

%table#apps-list{:class => "#{bs.table} #{bs.table_hover}"}
  %tbody
    - @apps.each do |app|
      %tr.row-link{:'data-path' => app_path(@space, app)}
        %td
          = app_state_icon app, "App is"
          = app.name
          #app-actions{:class => bs.float_right}
            %form{:action => app_path(@space, app), :method => 'post', :class => 'simple-button'}
              %input{:type => 'hidden', :value => 'put', :name => '_method'}
              %input{:type => 'hidden', :value => 'STOPPED', :name => 'state'}
              %input{:type => 'hidden', :value => 'index', :name => 'back_to'}
              %div{:class => bs.btn_group}
                %button.wait-trigger{:type => 'submit',
                   :id => app_state_class(app),
                   :class => app_power_control_button_class(app),
                   :title => 'Start/Stop Application'}
                  %i{:class => bs.icon('off')}
                %a.wait-trigger{:href => app_path(@space, app), :id => "app-details-#{app.guid}", :class => bs.btn, :title => 'View application details'}
                  %i{:class => bs.icon('cog')}
    - if @apps.empty?
      %tr
        %td
          %h6.centered No Apps to show
