-#%h5
-#  %span{:class => "#{app_label_state_class(@app)} #{bs.float_right}"}
-#    = @app.state

-#.app-show-stop.centered{:class => "#{bs.width(6)} #{bs.float_right}"}
-#  %form{:action => app_path(@space, @app), :method => 'post', :class => 'simple-button'}
-#    %input{:type => 'hidden', :value => 'put', :name => '_method'}
-#    %input{:type => 'hidden', :value => 'STOPPED', :name => 'state'}
-#    %input{:type => 'hidden', :value => 'show', :name => 'back_to'}
-#    %button.wait-trigger{:type => 'submit',
-#            :id => app_state_class(@app),
-#            :class => "#{app_power_control_button_class(@app)} #{bs.btn_large}",
-#            :title => 'Start/Stop Application'}
-#      %i{:class => "#{bs.icon('off')}"}


#app-health{:title => 'Health: Instances running divided by total instances'}
  #monitor-label Health
  %form{:action => '#', :autocomplete => 'off'}
    %input#current-health{:type => 'hidden', :value => app_health(@app, @stats)}
    %input#health-monitor{:type => 'text', :value => 0, :disabled => true, 'data-width' => '100', 'data-height' => '100'}


#app-memory
  #app-mem-form
    %form{:action => app_path(@space, @app), :method => 'post', :class => bs.form_inline}
      %div{:class => bs.input_group}
        %label{:for => 'memory', :class => bs.input_addon, :title => 'Random Access Memory'}
          %span{:class => bs.icon('ticket')}
        %select#memory{:name => 'memory', :class => bs.form_control}
          - (7..14).each do |mem|
            - if 2**mem == @app.memory
              %option.current-app-mem{:value => 2**mem, :selected => true}= 2**mem
            - else
              %option{:value => 2**mem}= 2**mem
        %span{:class => bs.input_group_btn}
          %button.wait-trigger{:class => bs.btn, :type => 'submit'} Update

%br
#app-instances
  %div#instance-quota
    %form{:action => app_path(@space, @app), :method => 'post', :class => bs.form_inline}
      %div{:class => bs.input_group}
        %label{:for => 'instances', :class => bs.input_addon, :title => 'Instances'}
          %span{:class => bs.icon('cogs')}

        %select#instances{:name => 'instances', :class => bs.form_control}
          - 20.times do |n|
            - if n == @app.total_instances
              %option.current-instances{:value => n, :selected => true}= n
            - else
              %option{:value => n}= n
        %span{:class => bs.input_group_btn}
          %button.wait-trigger{:class => bs.btn, :type => 'submit'} Update
%br
%a{:href => app_logs_path(@space, @app), :class => bs.btn('default')} See Logs