%h4
  Info
  %span.pull-right{:class => app_label_state_class(@app)}
    = @app.state
%hr

#app-memory
  #app-mem-form
    %form{:action => app_path(@space, @app), :method => 'post'}
      .input-append
        .input-prepend.input-append
          %span.add-on.span3 Memory
          %select#appendedInputButton{:name => 'memory'}
            - (7..14).each do |mem|
              - if 2**mem == @app.memory
                %option.current-app-mem{:value => 2**mem, :selected => true}= 2**mem
              - else
                %option{:value => 2**mem}= 2**mem
          %button.btn{:type => 'submit'} Update

#app-instances
  #instance-quota
    %form{:action => app_path(@space, @app), :method => 'post'}
      .input-prepend.input-append
        %span.add-on.span3 Instances
        %select#appendedInputButton{:name => 'instances'}
          - 20.times do |n|
            - if n == @app.total_instances
              %option.current-instances{:value => n, :selected => true}= n
            - else
              %option{:value => n}= n
        %button.btn{:type => 'submit'} Update
