%ul{:class => bs.breadcrumb}
  = partial("shared/breadcrumb")
  %li
    %a.wait-trigger{:href => space_path(@space)}= space_human_name(@space)
    = partial 'shared/apps_counter'
  %li
    %a.wait-trigger{:href => app_path(@space, @app)}= @app.name.capitalize
  %li
    %a{:href => app_logs_path(@space, @app)} Logs

%div#app-logs{:class => bs.row}
  %div{:class => bs.width(12)}
    %div#env-container{:class => bs.panel}
      %div{:class => bs.panel_heading}
        Enviorement Log (last 100 lines)
        %i#env-loading{:class => "#{bs.icon('spinner')} icon-spin"}
      %div{:class => "#{bs.panel_body} log-container"}
        %code#env{'data-path' => "/async_env_log/#{@app.guid}"}

    %div#staging-container{:class => bs.panel}
      %div{:class => bs.panel_heading}
        Staging Task Log (last 100 lines)
        %i#staging-loading{:class => "#{bs.icon('spinner')} icon-spin"}
      %div{:class => "#{bs.panel_body} log-container"}
        %code#staging{'data-path' => "/async_staging_log/#{@app.guid}"}

    %div#stderr-container{:class => bs.panel}
      %div{:class => bs.panel_heading}
        STDERR Log (last 100 lines)
        %i#stderr-loading{:class => "#{bs.icon('spinner')} icon-spin"}
      %div{:class => "#{bs.panel_body} log-container"}
        %code#stderr{'data-path' => "/async_stderr_log/#{@app.guid}"}

    %div#stdout-container{:class => bs.panel}
      %div{:class => bs.panel_heading}
        STDOUT Log (last 100 lines)
        %i#stdout-loading{:class => "#{bs.icon('spinner')} icon-spin"}
      %div{:class => "#{bs.panel_body} log-container"}
        %code#stdout{'data-path' => "/async_stdout_log/#{@app.guid}"}
