%ul.breadcrumb
  = partial("shared/breadcrumb")
  %li
    %a.wait-trigger{:href => space_path(@space)}= space_human_name(@space)
    = partial 'shared/apps_counter'
  %li
    %a.wait-trigger{:href => app_path(@space, @app)}= @app.name.capitalize

%div{:class => bs.row}
  %div{:class => bs.width(4)}
    %div{:class => bs.well}
      = partial("apps/info")

    #app-destroy-form{:class => bs.well}
      %h5 Danger Zone
      %p.justified
        This action <b>CAN NOT</b> be undone.
        Please type in the name of the application to confirm.
      %form{:action => app_path(@space, @app), :method => 'post'}
        %div{:class => bs.input_group}
          %label{:class => bs.input_addon, :title => 'App Name'}
            %span{:class => bs.icon('terminal')}
          %input{:type => 'hidden', :value => 'delete', :name => '_method'}
          %input{:type => 'text', :name => 'app_name', :class => bs.form_control}
          %span{:class => bs.input_group_btn}
            %button.wait-trigger{:class => bs.btn('danger'), :type => 'submit'} Destroy

  %div{:class => bs.width(8)}
    #app-stats{:class => bs.well}
      %h5
        Stats
        = loading_icon 'loading-stats'
      #stats-content{'data-path' => app_async_request(@app.guid, 'stats')}

    #app-uris{:class => bs.well}
      %h5
        URL List
        = loading_icon 'loading-routes'
      #routes-content{'data-path' => app_async_request(@app.guid, 'routes')}

    #app-services{:class => bs.well}
      %h5
        Services
        = loading_icon 'loading-services'
      #services-content{'data-path' => app_async_request(@app.guid, 'service_bindings')}
