%ul.breadcrumb
  %li
    %a{:href => space_path(@space)}= space_human_name(@space)
    = partial 'shared/apps_counter'
    %span.divider /
  %li
    %a{:href => app_path(@space, @app)}= @app.name.capitalize

.row-fluid
  .span4
    .well
      = partial("apps/info")

    %hr
    #app-destroy-form.well
      %h4 Danger Zone
      %hr
      %p
        In order to destroy an app, you should input its name on the
        following box. Only if the name is correct, the application will be
        destroyed from the space.
        %b This change can't be undone.
      %form{:action => app_path(@space, @app), :method => 'post'}
        %input{:type => 'hidden', :value => 'delete', :name => '_method'}
        .input-prepend.input-append
          %span.add-on.span3 App name
          %input{:type => 'text', :name => 'app_name'}
          %button.btn.btn-danger{:type => 'submit'} Destroy

  .span8
    = partial("apps/stats")

    %hr
    = partial("apps/uris")
