%hr
  %table{:class => bs.table}
    - @routes.each do |route|
      %tr
        %td
          %a{:href => "http://#{route.name}", :target => '_blank'}= "http://#{route.name}"
        %td{:class => bs.width(3)}
          %form{:action => app_path(@space, @app), :method => 'post', :class => 'simple-button'}
            %input{:type => 'hidden', :value => 'delete', :name => '_method'}
            %input{:type => 'hidden', :value => route.guid, :name => 'route_guid'}
            - if @routes.size == 1
              %a{:id => "unmap-#{route.guid}",
               :class => "#{bs.btn('danger', 'xs')} trigger-unmap-confirmation",
               :title => 'Remove route',
               :href => '#none'}
                %i.icon-trash
              %button.wait-trigger{:type => 'submit',
               :class => "#{bs.btn('danger', 'xs')} unmap-confirmed",
               :style => 'display: none;',
               :title => 'It is the last route, are you really really sure?' }
                Really?
            - else
              %button{:type => 'submit',
               :id => "unmap-#{route.guid}",
               :class => "#{bs.btn('danger', 'xs')}",
               :title => 'Remove route'}
                %i.icon-trash


  %form{:action => app_path(@space, @app), :method => 'post', :class => bs.form_inline}
    %div{:class => bs.input_group}
      %label{:class => bs.input_addon} URL
      %input{:type => 'text', :name => 'url', :class => bs.form_control}
      %label{:class => bs.input_addon} .
      %select{:disabled => false, :name => 'domain', :class => bs.form_control}
        - current_user.domains(:depth => 0).each do |domain|
          %option{:value => domain.name}= domain.name
      %span{:class => bs.input_group_btn}
        %button.wait-trigger{:class => bs.btn, :type => 'submit'} Add URL
