%span{:class => "#{bs.badge} #{bs.badge_success}", :title => 'Apps running'}
  %i{:class => bs.icon('arrow-up')}
  = @apps.select{|a| a.state == 'STARTED'}.size
%span{:class => "#{bs.badge} #{bs.badge_important}", :title => 'Number of Apps not running'}
  %i{:class => bs.icon('arrow-down')}
  = @apps.select{|a| a.state != 'STARTED'}.size
