%br
%div{:class => "#{bs.well} #{bs.width(3)} #{bs.width_offset(4)}"}
  %h5
    Cloud Foundry Storm Login
    %span{:class => "#{bs.label} #{bs.float_right} #{bs.label_info}"}
      beta
  %hr
  %form{:name => 'session', :id => 'new-session',
        :action => '/sessions', :method => 'post'}

    %fieldset
      %label{:for => "email"} Email
      %input{:class => bs.width(12), :type => "text", :name => "email", :placeholder => "Email"}

      %label{:for => "password"} Password
      %input{:class => bs.width(12), :type => "password", :name => "password", :placeholder => "Password"}

      %label{:for => "endpoint"} Endpoint
      %input{:class => bs.width(12), :type => "text", :name => "endpoint", :placeholder => Settings::API_URL}

      %button{:class => bs.btn, :type => "submit"} Sign in
