!!!
%html{:lang => "en"}
  %head
    = partial 'shared/header'

  %body
    - if current_user
      = partial 'shared/nav-menu'

    %div{:class => container_class}
      %div{:class => row_class}
        %div{:class => width_class(12)}

          - if flash?
            = partial 'shared/flash'
          = content
  %footer
    = partial 'shared/footer'
