!!!
%html{:lang => "en"}
  %head
    = partial 'shared/header'

  %body
    .container-fluid
      .row-fluid
        .span12


          .header.custom-header.minimal-width
            - if current_user
              = partial 'shared/nav-menu'
            - else
              .pure-menu-heading.custom-heading Login

          .content.minimal-width
            - if flash? :alert
              #flash-error
                = flash :alert
            - else
              #flash-error
                = flash :notice

            = content
