!!!
%html{:lang => "en"}
  %head
    = partial 'shared/header'

  %body.spacing
    - if current_user
      = partial 'shared/nav-menu'

    %div{:class => bs.container}
      %div{:class => bs.row}
        %div{:class => bs.width(12)}

          - if flash?
            = partial 'shared/flash'
          = content
  %footer
    = partial 'shared/footer'
