%div{:class => "#{bs.well} #{bs.width(4)} #{bs.width_offset(4)}"}
  %h4 Create space
  %hr
  %form#space-create-form{:action => '/spaces', :method => 'post'}
    %div{:class => bs.input_group}
      %label{:class => bs.input_addon}
        %span{:class => bs.icon('terminal'), :title => 'Space name'}
      %input{:type => 'text', :name => 'space_name', :class => bs.form_control}
      %span{:class => bs.input_group_btn}
        %button{:class => "#{bs.btn} #{bs.btn_danger}", :type => 'submit'} Create
