%ul{:class => bs.breadcrumb}
  = partial("shared/breadcrumb")
  %li
    %a{:href => users_path}= Users

%div{:class => bs.container}

  %div{:class => bs.row}
    %div{:class => bs.width(6)}
      #new-user-form
        %form{:action => users_path, :method => 'post'}
          %div{:class => bs.input_group}
            %label{:class => bs.input_addon, :title => 'Human electronic mail address'}
              %span{:class => bs.icon('user')}
            %input{:type => 'email', :name => 'email',
                   :placeholder => "e-Mail", :class => bs.form_control}
            %label{:class => bs.input_addon, :title => 'Human secure password'}
              %span{:class => bs.icon('key')}
            %input{:class => bs.width(4), :type => 'password', :name => 'password',
             :placeholder => 'Password', :class => bs.form_control}
            %span{:class => bs.input_group_btn}
              %button.wait-trigger{:class => bs.btn, :type => 'submit'}
                Register
      %br
      %table#users-list{:class => "#{bs.table} #{bs.table_condensed} #{bs.table_stripped}"}
        %tbody
          %tr
            %th e-Mail
          - @users.each do |user|
            %tr
              %td
                = user.email
                - unless user.email == current_user.email
                  %div{:id => "delete-user-#{user.guid}"}
                  %form{:action => users_path, :method => 'post', :class => "#{bs.width(1)} #{bs.float_right}"}
                    %div{:class => bs.input_group}
                      %input{:type => 'hidden', :value => 'delete', :name => '_method'}
                      %input{:type => 'hidden', :name => 'user_guid', :value => user.guid}
                        %button.wait-trigger{:class => "#{bs.btn('danger')} #{bs.btn_xs}", :type => 'submit'}
                          %span{:class => bs.icon('trash')}


    %div{:class => bs.width(6)}
      %div{:class => bs.panel}
        %div{:class => bs.panel_heading}
          About User's creation...
        %div{:class => bs.panel_body}
          When you create a new user using this section,
          the new user will be created under the current organization
          which in this case is
          %b= current_user.current_organization.name
          and the user will be added to every organization's spaces.
